{% extends 'base.html' %}
{%include 'navbar.html'%}
{% block header %} Add Book {% endblock %}
{%block content%}
    
    <form method="POST" class = "mt-4">
            
      <div>
          <label for="title" class = "form-label">Book_Title:
          <input type="text" class="form-control" name = "title" id="title" aria-describedby="emailHelp" placeholder="Enter Title" required />
          </label>
      </div>
      <div>
          <label for="author" class = "form-label">Author:
          <input type="text" class="form-control" name = "author" id="author" aria-describedby="emailHelp" placeholder= "Author Name" required />
          </label>
      </div>
      <div>
        <label for="content" class = "form-label"> Content/Link: 
        <input type="text" class="form-control" name = "link" id="link" placeholder="Book Link Here" required />
        </label>
    </div>
      <div>
          <label for="image" class = "form-label"> Upload Image (Optional):
          <input type="file" class="form-control" name = "image" id="image" aria-describedby="emailHelp"  />
          </label>
      </div>
      <div>
        <label for="section" class = "form-label"> Book Section:
        <input type="text" class="form-control" name = "section" id="section" aria-describedby="emailHelp" placeholder="{{section_id}}" value="{{section_id}}" required />
        </label>
      </div>
    <input type="checkbox" name = "premium" id="mycheckbox" value=" premium" />
    <label for="mycheckbox" class = "form-label"> <h6>Premium Book </h6> </label>
    <div>
    
  <button type="submit" class="btn btn-success"> Add Book</button>
  <a href="{{url_for('lib_book_sec')}}" id="cancel" name="cancel" class="btn btn-secondary">Cancel</a>
</div>
  </form>                 
{%endblock%}
  