
{% block header %}Welcome to E-Library By Krishna Mishra {% endblock %}
{%block content%}

<img src="/static/bg.png" >

    <h2 style="text-align: center;" >    

    </h2>
    
    <p>
      Here i will be putting books related to O&M of Industries, You will be able to explore books in field of Maintenance, inspection, Overhauling, Project Management, Operation Management & Books related to QHSE (Quality, Health, Safety & environment).

    </p>
    If you are first time visitor, Please <strong><a href="/register">Register</a></strong> else <strong><a href="loginuser">Log In</a></strong> to explore library, issue books & download them (Premium users only). 
    
{%endblock%}